{% layout 'layout.liquid' %}
{% block content %}
        <h1 class="display-4"><b>Welcome To NFT Social</b></h1>
        <div class="btn-group btn-group-lg">
            <a href="/user/signup" class="btn btn-success">Sign Up</a>
            <a href="/user/login" class="btn btn-success">Sign In</a>
        </div>
    
{% endblock %}