{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
        <form action="/nfts" method="POST">
            <fieldset>
                <legend>Upload New NFT</legend>
                <label class="form-label">Name: </label>
                <input 
                    type="text"
                    name="name" 
                    placeholder="Enter NFT Name"
                    class="form-control"
                >
                <label class="form-label">OpenSea Link:</label>
                <input 
                    type="text"
                    name="price" 
                    placeholder="Enter OpenSea URL"
                    class="form-control"
                >
                <label class="form-label">Image URL:</label>
                <input 
                    type="text"
                    name="img"
                    placeholder="Enter Image URL"
                    class="form-control"
                >
                <label class="form-label">Scarcity Score:</label>
                <input 
                    type="number"
                    name="scarcityScore" 
                    placeholder="Enter Scarcity Score" 
                    class="form-control"
                >
            </fieldset>
            <br>
            <input 
                type="submit" 
                value="Upload New NFT"
                class="btn btn-success"
            >
        </form>
    </div>
{% endblock %}