{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <!-- you can do fun things like inline style with properties of your rendered object -->
        <article>
            <h2>
                Bored Ape Yacht Club #{{ matchNFT.token_id }}
            </h2>
        </article>
        <div class="col-md-6">
            <form action="/comments/{{nft.id}}" method="POST">
                <br>
                <img src="{{ matchNFT.metadata.image }}" width="220" height="200">
                <br>
                <div class="likes">
                    <p>Likes: <span type="number" value=0 id="likes">{{nft.likes}}</span></p>
                    <button type="button" class="btn btn-outline-success btn-small" id="likeButton">Like</button>
                    <button type="button" class="btn btn-outline-danger btn-small" id="dislikeButton">Dislike</button>
                </div>
                <fieldset>
                    <br>
                    <legend>Add Comment</legend>
                    <br>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" id="comment-input" name="note" placeholder="enter comment here...">
                </fieldset>
                <br>
                <input type="submit" class="btn btn-success" value="Add Comment">
            </form>
            <br>
        </div>
        <!-- if the nft has no comments, we won't render any -->
        {% if nft.comments.length > 0%}
            <!-- comment container -->
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <!-- here we need to loop over the comments -->
                    <!-- for every comment render a comment.liquid block -->
                    {% for comment in nft.comments %}
                        {% render '../comment.liquid', comment: comment, userId: userId, nft: nft %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}